@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700');

body {
    background: url('../img/background.jpg');
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    color: green;
}

.title {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #91806e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#loginForm {
    width: 290px;
    background: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 8px; 
    overflow: hidden;
}

form {
    padding: 20 20px;
}

#loginForm input {
    outline: none;
    height: 100%;
    border: none;
    width: 200px;
    padding-left: 10px;
    color: #91806e;
    font-size: 14px;
}

.inputLine {
    width: 100%;
    border: 1px solid #e4e0db;
    border-radius: 8px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #fff;
    color: #e4e0db;
    overflow: hidden;
    margin-top: 15px;
}

.inputLine  .icon {
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e4e0db;
    background: #fdfbfa;
}

.buttonContainer {
    width: 100%;
    background: #f9f5f3;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonContainer button {
    background: #e65f3a;
    border: none;
    width: 200px;
    border-radius: 5px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    outline: none;
}

.buttonContainer button:hover {
    opacity: 0.9;
}

.buttonContainer .icon {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #da4a28;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    color: #fff;
}

.buttonContainer span {
    margin-left: 12px;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
}

.footer {
    background: #5f90b0;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.footer:hover {
    opacity: .9;
}

.footer i {
    margin-right: 5px;
    padding: 10px 0;
}